


#container {
  text-align: center;

  background-color: rgba(208, 251, 248, 0.807);
  height: auto;
  min-height: 100%;

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.main {


  .search_item {

    .introduction {
      height: 65px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .title{
        
        h2 {
          margin: 0; 
        }

        img {
          width: 25px;
          height: 25px;
        }

      }

      
    }

    .buttons {
      text-align: center;
    }

    padding: 20px 30px 40px 30px;
    background-color: rgb(56, 145, 153) !important;

    ion-input{
      --background: white !important;
        height: 20px;
    }
  }

  .items-list{
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 100%;
      border-radius: 10px;
      background-color:transparent;
      padding: 2px;
      
      .info {
        width: 100%;
        border-radius: 10px;
        text-align: center;
        .avatar {
          width: 130px;
          text-align: center;
          margin: 0 auto;
        }
      }

      .info.repo {
        height: 120px;
      }

      .info.user {
        height: auto;
      }

    }
    
  }

  .items-list > .item {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    margin-bottom: 10px;
  }


  #error {
    padding: 10px;
    color: black;
    background-color: rgba($color: #db703f, $alpha: 1.0);
    p {
      color: white;
    }
     div {
        padding: 5px;
     }
  }


 



}


@media (min-width: 1281px) {
  .main .items-list > .item {
    flex: 25%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
  }
}