<ion-content [fullscreen]="true">
  <div id="container">
    <div class="main col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

      <div class="search_item">
          <div class="introduction">
            
              <div class="title">
                <img alt="GitHub" src="./../../../assets/icon/github.ico" /> 
                <h2>Echa un ojo a unos interesante tops</h2> 
              </div>

          </div>

          <div class="buttons">
            <ion-button  type="button" 
            (click)="getMostKnown('repoStars')">Top Starred Repos</ion-button>

            <ion-button  type="button" 
            (click)="getMostKnown('repoCount')">Top Repos Count Users</ion-button>

            <ion-button  type="button" 
            (click)="getMostKnown('followedUsers')">Top Followed Users</ion-button>
          </div>

        </div>

      <div class="items-list" *ngIf="items != null && errorMessage == null">

          <ion-item *ngFor="let item of items" class="item">

              <div class="info repo" *ngIf="listType == 'repo'">
                <a href="{{item.html_url}}" alt="go to item" target="_blank"><h3 *ngIf="item?.name">{{item.name}} </h3></a>
                <p *ngIf="item?.stargazers_count">Stars: {{item?.stargazers_count}}</p>
              </div>

              <div class="info user" *ngIf="listType == 'user'">
                <div class="avatar">
                  <!--Left side -->
                  <ion-thumbnail class="w-100 h-100">
                    <img alt="avatar" src="{{item?.avatar_url}}" *ngIf="item?.avatar_url" />
                    <img alt="avatar" src="../../../assets/icon/github.ico" *ngIf="!item?.avatar_url" />
                  </ion-thumbnail>
                </div>
                <p><a target="_blank" href="{{item?.html_url}}">{{item.login}}</a></p>
              </div>

          </ion-item>
          

      </div>

      <div id="error" *ngIf="errorMessage != null">
        <h5 class="title">Error</h5>
        <p>Ha habido un error al listar la informacion, {{errorMessage}}.</p>  
      </div>

    </div>
  </div>
</ion-content>
